* {
    box-sizing: border-box;
    font-family: "Montserrat", system-ui;

}

main {
    width: 1366px;
    height: 1600px;
    margin: 0 auto;
    background-color: rgb(189, 228, 244);
}

nav {
    width: 1366px;
    height: 40px;
    background-color: rgb(1, 26, 129);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;

}

header {
    width: 1366px;
    height: 300px;
    margin-top: auto;
}

nav a {
    color: rgb(255, 255, 255);

    text-decoration: none;
    padding: 15px;
    transition: 1s;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-family: "Anton", sans-serif;
    font-weight: 500;
    font-style: normal;
}

nav a:hover {
    background-color: rgb(93, 54, 109);
    transform: scale(1.2);

}

section {
    width: 1366px;
    height: 1600px;
}

section .izq{
    width: 330px;
    
    float: left;
    background-color: rgb(99, 217, 247);
    height: 1408px;
   padding-left: 15px;
}
section .texto{
    float: left;
    text-align: left;
   
    font-family: "Montserrat", system-ui;
}

.texto .center{
   
    float: right;
    margin-right:30px ;
    justify-content: space-evenly;
  
}

section .link{
    float: left;
}

section .center{
    height: 1408px;
    float: left;
    width: 800px;
    background-color: rgb(33, 232, 232);
    padding: 20px;
}
section.imagen{
    float:center;
    width: 200px;

}

section .right{
    float:left;
    width: 235px;
    background-color: rgb(67, 126, 213);
   height: 1408px;
   padding: 20px;
 
}
section.imagen{
    float:center;
    width: 200px;
    padding: 20px;
}
footer{
    width: 1366px;
    height: 250px;
    background-color: rgb(1, 26, 129);
    margin: 0 auto;
}